<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/tables.css">

<form method='GET' action="/manage">
    <button class="btn" id="back-btn">
        back
    </button>
</form>

<div class="split-containers">
    <table>
        <tr>
            <th><span>date</span></th>
            <th><span>description</span></th>
            <th><span>action</span></th>
        </tr>



        <% for(var i=0; i<data.length; i++) { %>
            <tr>
                <form method="POST" action="/update" id="updateForm">
                    <td class="data-row data-row-date">
                            <input type="text" name="date" class="editForm-date" value="<%=data[i].date%>" id="date-<%=i%>" size="15">
                            <%=data[i].date%>
                            </input>
                        
                    </td>
    
                    <td class="data-row data-row-description">
                        <input type="text" name="description" class="editForm-desc" value="<%=data[i].description%>" id="description-<%=i%>" size="50">
                        <%=data[i].description%>
                        </input>
                    </td>
    
                    <td class="action-col">
                        <input type="hidden" name="id" value=<%=data[i].id%>></input>
                        <input type="hidden" name="table" value="coding"></input>
                        <input type="hidden" name="page" value="manageCode"></input>
                        <button class="btn" id="edit-btn-<%=i%>" onclick="showEdit(`<%=i%>`)">
                            edit
                        </button>
                
                </form>

                <form method="POST" action="/delete">  
                <input type="hidden" name="id" value=<%=data[i].id%>></input>
                <input type="hidden" name="table" value="coding"></input>
                <input type="hidden" name="page" value="manageCode"></input>
                    <button class="btn" id="delete-btn-<%=i%>" onclick="verify()" >
                       delete
                    </button>
                </form>

                </td> 
            </tr>
        <% } %>
    </table>
    


    <div class="container">
        <div class="text-container">
            <h1 class="title fade-in">
                managing coding data
            </h1>
            <p>
                shown is your recently entered data. you can make edits or delete rows
            </p>
        </div>
    </div>

</div>

<script>
    function showEdit(id) {
        event.preventDefault();
        var dateInput = document.getElementById("date-" + id);
        var descriptionInput = document.getElementById("description-" + id);
        var editBtn = document.getElementById("edit-btn-" + id);
        var deleteBtn = document.getElementById("delete-btn-" + id);
        descriptionInput.style.visibility = "visible";
        dateInput.style.visibility = "visible";

        editBtn.innerHTML = "update";
        editBtn.style.backgroundColor = "#b1f3b1";
        deleteBtn.innerHTML = "cancel";
        deleteBtn.style.backgroundColor = "#ff7e82";

        editBtn.setAttribute("onclick", `update(${id})`)
        deleteBtn.setAttribute("onclick", `cancel(${id})`)
    }


    function cancel(id) {
        var dateInput = document.getElementById("date-" + id);
        var descriptionInput = document.getElementById("description-" + id);
        var editBtn = document.getElementById("edit-btn-" + id);
        var deleteBtn = document.getElementById("delete-btn-" + id);

        // Restore all original properties
        descriptionInput.style.visibility = "hidden";
        dateInput.style.visibility = "hidden";
        editBtn.innerHTML = "edit";
        deleteBtn.innerHTML = "delete";
        editBtn.style.backgroundColor = "#81d4fa";
        deleteBtn.style.backgroundColor = "#81d4fa";
        editBtn.setAttribute("onclick", `showEdit(${id})`)
        deleteBtn.setAttribute("onclick", "verify()")
        event.preventDefault();
    }

    function update(id) {
        var answer = confirm("Are you sure you want to update?")
        if  (answer) {
            document.getElementById("updateForm").submit();
        } else {
            event.preventDefault();
        }
    }

    function verify() {
        var answer = confirm("Are you sure you want to delete?");
        if (answer) {
            document.getElementById("deleteForm").submit();
        } else {
            event.preventDefault();
        }
    }
</script>